body {
  background-color: #ffe4e1; /* Light pink background */
  font-family: 'Arial', sans-serif;
}

.login-container {
  text-align: center;
  padding-top: 20px; /* Reduced padding */
}

.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 10px;
  z-index: 1000;
}

.top-header h2 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 20px;
}

.header {
  background-color: #f8f9fa;
  padding: 1px; /* Reduced padding */
  margin-top: 1px; /* Adjusted margin to reduce space */
  border-radius: 10px;
}

.header h1 {
  font-size: 2rem; /* Reduced font size */
  color: #343a40;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-container img {
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.form-container input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}

.form-container button {
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.form-container button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.form-container .error {
  color: red;
  margin-top: 10px;
}

.footer {
  margin-top: 2px; /* Reduced margin */
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
}

.footer p {
  margin: 0;
  color: #343a40;
  font-size: 1rem;
}
